<div class="album-page">
    <h1>Albums</h1>
    <app-album-list class="album-page_list"
                    [albums]="albums"
                    (clickAlbum)="onClickAlbum($event)">
    </app-album-list>
    <div>
        <h1>Canciones del album {{this.currentAlbum?.name}}</h1>
        <app-song-page [itemsSongs]="this.currentAlbum.songs">
        </app-song-page>
    </div>
</div>
