<div *ngFor="let item of items; let $index = index"
    (click)="clickOperation($index)"
    [class.selected]="item === currentItem">
    <app-item-summary [item]="item"
                      [indice]="$index">
    </app-item-summary>
</div>


