.new-page_list {
    display: grid;
    grid-template-columns: repeat(1000, 1fr);
    overflow: scroll;
}

.new-page_description h1{
	font-family: 'Lora';
    font-weight: normal;
}

.new-page_description p{

	line-height: 1.8;
	font-family: 'Lora';
    font-size: 18px;
}