<div class="new-page">
	<h1>Noticias</h1>
    <app-new-list class="new-page_list"
    			  [news]="news"
    			  (clickNew)="onClickNew($event)">
    </app-new-list>
    <div class="new-page_description">
    	<h1>{{this.currentNew?.title}}</h1>
        <p>{{this.currentNew?.description}}</p>
    </div>
</div>
