<div class="grid-container-column">
    <div class="grid-container-menu-body">
    </div>
    <div class="grid-container-content">
        <h2> Estilos musicales</h2>
        <app-tag-list (clickTag)="onClickTag($event)">
        </app-tag-list>	
        <div *ngFor="let album of album">
    	<h1>Album Recomendado segun el estilo de música: {{this.currentTag?.name}}</h1>
    	<h1>{{this.album?.name}}</h1>
    </div>	
    </div>
</div>
