.grid-container-column{
    display                 : flex;
    flex-direction          : column;
    justify-content         : space-around;
}

.grid-container-content h2{
	font-size: 1.86875rem;
    font-weight: 700;
    color: #252525;
    font-family: "Poppins", sans-serif;
}


