<nav>
    <ul class="menu-list">
        <li id="1" class="menu-list_item__first" [class.menu-list_item-selected__first]="1 === default_id" (click)="onClick(1)">
            <a class="menu-list_item-a" [class.menu-list_item-a-selected]="1 === default_id" [routerLink]="['/index']" type="button">Estilos</a>
        </li>
        <li id="2" class="menu-list_item" [class.menu-list_item-selected]="2 === default_id" [routerLink]="['/albums']" (click)="onClick(2)">
            <a class="menu-list_item-a" [class.menu-list_item-a-selected]="2 === default_id" type="button">Albums</a>
        </li>
        <li id="3" class="menu-list_item" [class.menu-list_item-selected]="3 === default_id" (click)="onClick(3)" [routerLink]="['/artists']"
            ><a class="menu-list_item-a"  [class.menu-list_item-a-selected]="3 === default_id" type="button">Artistas</a>
        </li>
        <li id="4" class="menu-list_item" [class.menu-list_item-selected]="4 === default_id" [routerLink]="['/bands']" (click)="onClick(4)">
            <a class="menu-list_item-a" [class.menu-list_item-a-selected]="4 === default_id" type="button">Bandas</a>
        </li>
        <li id="5" class="menu-list_item__last" [class.menu-list_item-selected__last]="5 === default_id" (click)="onClick(5)">
            <a class="menu-list_item-a"  [class.menu-list_item-a-selected]="5 === default_id" [routerLink]="['/news']" type="button">Noticias</a>
        </li>
    </ul>
</nav>
