.menu-list{
    list-style-type         : none;
    background              : transparent;
    border-radius           : 15px;
    padding                 : 0px;

}

.menu-list_item{
    display                 : inline-block; /** Creamos el menú horizontal **/
    text-align              : center;
    width                   : 200px;
    text-decoration         : none;
    font-size               : 20px;
    border-color            : #fff;
    border-style            : solid;
    border-width            : 1px;
    padding-top             : 15px;
    padding-bottom          : 15px;
    background              : #326eaa;
}

.menu-list_item__first{
    display                 : inline-block; /** Creamos el menú horizontal **/
    text-align              : center;
    width                   : 200px;
    text-decoration         : none;
    font-size               : 20px;
    border-color            : #fff;
    border-style            : solid;
    border-width            : 1px;
    padding-top             : 15px;
    padding-bottom          : 15px;
    background              : #326eaa;
    border-radius           : 15px 0px 0px 15px;
}

.menu-list_item__last{
    display                 : inline-block; /** Creamos el menú horizontal **/
    text-align              : center;
    width                   : 200px;
    text-decoration         : none;
    font-size               : 20px;
    border-color            : #fff;
    border-style            : solid;
    border-width            : 1px;
    padding-top             : 15px;
    padding-bottom          : 15px;
    background              : #326eaa;
    border-radius           : 0px 15px 15px 0px;
}

.menu-list_item-selected {
    background-color        : #CFD8DC;
}

.menu-list_item-selected__first {
    background-color        : #CFD8DC;
    border-radius           : 15px 0px 0px 15px;
}


.menu-list_item-selected__last {
    background-color        : #CFD8DC;
    border-radius           : 0px 15px 15px 0px;
}

.menu-list_item-a {
    color                   : #fff;
    text-decoration         : none;
    font-weight             : bold;
}

.menu-list_item-a:hover{
    text-decoration         : underline;
    cursor                  : pointer;
}

.menu-list_item-a-selected {
    color                   : #326eaa;
    font-weight             : bold;
}
