<div *ngIf="currentItem" class="vg-player-info" ><br><br>
    <img *ngIf="urlImage" class="vg-player-coverp" src={{urlImage}}/>
    <img *ngIf="urlImage===null" class="vg-player-coverp" src={{imgPlayerHeader}}/>
    <div *ngIf="item">
    	{{item.name}}
    </div>
</div>

