.vg-player-coverp{
    padding: 9px;
    border-radius: 20px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
}

.vg-player-info{
    color: white;
    display: flex;
    align-items: center;
    height: 52px;
}