<div class="album" (click)="onClickAlbum()">
    <div class="album_imgcontainer">
        <img class="album_play" src="/assets/img/play-background-75x75.png">
        <img *ngIf="album.cover===undefined" class="album_cover" src="/assets/img/default-album.jpg" alt="Icono del albúm">
        <img *ngIf="album.cover" class="album_cover" src="{{album.cover?.url}}" alt="Icono del albúm">
    </div>
    <p class="album_name">{{album.name}}</p>
</div>
