<div class="song-page">
    <app-item-list  class="song-page_list"
                    [items]="this.itemsSongs"
                    [currentItem]="this.currentSong"
                    (clickList)="onClikSong($event)">
    </app-item-list>
</div>
