.song-page_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

::ng-deep.song-page_list div {
    width: 100%;
}

::ng-deep.song-page_list .item-sumary {
    width: 90%;
    height: 150px;
    border: solid #000 2px;
    margin: 3%;
}

::ng-deep.song-page_list .item-sumary_img {
    width: 75px;
    margin: 10%;
}

::ng-deep.song-page_list .item-sumary_name {
    margin: 10%;
}
