<div class="app-container">
    <header class="app-header">
        <section class="app-header_row1">
            <div class="app-header_row1-item__logo"></div>
        </section>
        <section class="app-header_row2">
            <app-player></app-player>
        </section>
        <section class="app-header_row3">
            <app-menu [default_id]=1 ></app-menu>
        </section>
    </header>
    <br>
    <section class="app-section">
        <!-- Será aquí donde colocamos el componente encargado de gestionar rutas y paǵinas -->
        <router-outlet></router-outlet>
    </section>
    <footer class="app-footer">
        <div class="app-footer_logos">
            <img src="/assets/img/logo_bisite.png" alt="Logo usal">
            <img src="/assets/img/logo_usal.png" alt="Logo Bisite">
            <img src="/assets/img/logo.png" alt="Logo puntoycoma">
        </div>
        <p class="app-footer_text"><b>Proyecto final Usal, "Experto en Desarrollo FullStack", Front-end</b></p>
        <p class="app-footer_text">Desarrollado por: Alexander Vicente | Juan Carlos Frutos | Maritza M. Bravo | Jesús M. Nieto </p>
    </footer>
</div>

