    app-player{
        width: 100%;
        height: 100%;
    }

    .app-header{
        display                 : flex;
        flex-direction          : column;
        width                   : 100%;
        align-items             : center;
    }

    .app-header_row1{
        display                 : flex;
        flex-direction          : row;
        width                   : 90%;
        justify-content         : space-between;
    }


    .app-header_row1-item__logo{
        width                   : 150px;
        height                  : 75px;
        background-image        : url("/assets/img/logo.png");
    }

    .app-header_row2{
        margin-top              : 2%;
        margin-bottom           : 2%;
        flex-direction          : row;
        width                   : 90%;
        height                  : 90px;

    }
    .app-header_row3{
        margin-top              : 2%;
        margin-bottom           : 2%;
        display                 : flex;
        flex-direction          : row;
        justify-content         : center;
        width                   : 100%;
    }

    .app-container{
        /** Generamos el layout principal en forma de columnas **/
        display                 : flex;
        flex-direction          : column;
        justify-content         : space-between;
    }

    .app-section{
        margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
        background              : #FFFFFF;
        box-shadow              : 5px 5px 2.5px grey;
        width                   : 90%;
        min-height              : 500px;
    }

    .app-footer{
        width                   : 100%;
        margin                  : 3% 0% 0 0%; /** Todos los hijos separados top,right,button,left **/
/*        background              : #326eaa;*/
        border-top              : solid #000 3px;
        display                 : flex;
        flex-direction          : column;
        align-items             : center;
    }

    .app-footer_logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .app-footer_logos img{
        height: 80px;
        width: auto;
    }

    .app-footer_logos img:hover {
        border-right: solid #000 1px;
        border-bottom: solid #000 2px;
    }

    .row1_tags {
        width: 33%;
    }

    .row1_social {
        width: 33%;
    }
