<div class="artist" (click)="onClickArtist()">
	<div class="artist_imgcontainer">
        <img class="artist_play" src="/assets/img/play-background-75x75.png">
        <img *ngIf="artist.cover===undefined" class="artist_cover" src="/assets/img/default-album.jpg" alt="Icono del artista">
        <img *ngIf="artist.cover" class="artist_cover" src="{{artist.cover?.url}}" alt="Icono del artista">
    </div>
    <p class="artist_name">{{artist.first_name}} {{artist.last_name}}</p>
</div>