.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 15px;
    margin-right: 20px;
}

.artist:hover .artist_play {
    visibility: visible;
    cursor: pointer;
}

.artist_cover {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    grid-column: 1;
    grid-row: 1;
}

.artist_name {
    max-width: 150px;
    text-align: center;
}

.artist_play {
    visibility: hidden;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    z-index: 200;
    opacity: 0.5;
}

.artist_imgcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}
