/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html, body {
    height: 100%;
    margin                  : 0;
    padding                 : 0;
}
body{
    background              : #ffffff;
  }
