<div class="player">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-controls>
            <div>
                <app-player-header [item]="this.items[currentIndex]"
                                   [currentItem]="this.currentItem"
                                   [album]="this.album"
                                   [urlImage]="this.currentAlbumPhoto?.url">
                </app-player-header>
            </div>

            <vg-volume></vg-volume>

            <div class="player_main-controls">
                <i class="material-icons main-controls_previous" (click)="previousItem()">skip_previous</i>

                <vg-play-pause class="main-controls_play"></vg-play-pause>

                <i class="material-icons main-controls_next" (click)="nextItem()">skip_next</i>
            </div>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <i class="material-icons player_list" (click)="onClickButtonPlaylist()">format_list_bulleted</i>

            <vg-scrub-bar class="player_timebar">
                <vg-scrub-bar-current-time class="timebar_currenttime"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

        </vg-controls>

        <audio #media
               [vgMedia]="media"
               [src]="currentItem.url"
               id="singleMusic"
               preload="auto"
               crossorigin>
        </audio>
    </vg-player>


    <app-player-body [showplaylist]="this.showPlaylist"
                     [item]="this.items[currentIndex]"
                     [items]="this.items"
                     [currentItem]="this.currentItem"
                     (clickList)="onClickPlaylistItem($event)"
                     (closeModal)="onClickCloseModal()">
    </app-player-body>
</div>
