vg-player {
    font-family: 'videogular';
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    height: 90px;
    background: #CFD8DC;
}

vg-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background: #CFD8DC;
}

vg-player img{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    padding: 9px;
    cursor: pointer;
}

.player {
    display: flex;
    justify-content: center;
    height: 100%
}

.player_main-controls {
    display: flex;
    color: #fff;
    align-items: center;
}

.main-controls_play {
    font-size: 2em;
}

.main-controls_previous, .main-controls_next{
    font-size: 3em;
    cursor: pointer;
}

.player_list {
    color: white;
    cursor: pointer;
}

.player_timebar {
    height: 5px;
    position: absolute;
    bottom: 0px;
}

