<div class="band" (click)="onClickBand()">
	<div class="band_imgcontainer">
        <img *ngIf="band.cover===undefined" class="band_cover" src="/assets/img/default-band.jpg" alt="Bandas">
    </div>
    <p class="band_name">{{band.name}}</p>
</div>