<div class="new" (click)="onClickNew()">
	<div class="new-imgcontainer">
        <img *ngIf="new.cover===undefined" class="new-cover" src="/assets/img/default-new.png" alt="Novedades">
    </div>
    <p class="new-name">{{new.title}}</p>
</div>