.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 15px;
    margin-right: 20px;
}

.new-cover {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    grid-column: 1;
    grid-row: 1;
}

.new-name {
    max-width: 150px;
    text-align: center;
}

.new-imgcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.new:hover{
    cursor: pointer;
}