.player-modal_playlist {
    top                  : 0px;
    right                : 0px;
    width                : 25%;
    height               : 100%;
    padding              : 2%;
    position             : absolute;
    background           : #CFD8DC;
    z-index              : 6000;
    -webkit-transition   : all 0.2s ease-in-out;
    -moz-transition      : all 0.2s ease-in-out;
    transition           : all 0.2s ease-in-out;
    display              : flex;
    flex-direction       : column;
}

.player-modal {
    top                  : 0px;
    right                : 0px;
    position             : absolute;
    height               : 100%;
    width                : 100%;
    z-index              : 6000;
    -webkit-transition   : all 0.2s ease-in-out;
    -moz-transition      : all 0.2s ease-in-out;
    transition           : all 0.2s ease-in-out;
}

.player-modal_playlist--collapsed {
    width                : 0%;
    visibility           : hidden;
    position             : absolute;
}

.player-modal--collapsed {
    width                : 0%;
    visibility           : hidden;
    position             : absolute;
}

.player-modal_close{
    align-self           : flex-end;
    margin               : 2%;
    cursor               : pointer;
}

.player-modal_close:hover{
    color                : white;
}

.player-modal_playlist--collapsed .playlist_header {
    display              : none;
}

.player-modal_playlist--collapsed .playlist_itemlist {
    display              : none;
}

.playlist_itemlist {
    width: 100%;
    margin-top: 10%;
}
