<div class="{{showplaylist ? 'player-modal' : 'player-modal--collapsed'}}">
    <div class="{{showplaylist ? 'player-modal_playlist' : 'player-modal_playlist--collapsed'}}">

        <i class="material-icons player-modal_close" (click)="onClickClose()">close</i>

        <div *ngIf="item">
            <app-playlist [item]="this.item">
            </app-playlist>
        </div>

        <!--[items] nombre del input que el componente que lo recibe-->
        <div class="playlist_itemlist">
            <app-item-list [items]="this.items"
            [currentItem]="this.currentItem"
            (clickList)="onClickPlaylistItem($event)">
            </app-item-list>
        </div>

    </div>
</div>
