<div class="item-sumary">
    <img *ngIf="item.album===undefined" class="item-sumary_img" src="./assets/img/default-song.jpg"/>
    <img *ngIf="item.album" class="item-sumary_img" src="{{item.album.url}}"/>
    <a class="item-sumary_name">{{ item.name }}</a>
</div>
