.item-sumary {
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    margin-bottom: 5px;
}

.item-sumary:hover {
    background: #eee;
}

.item-sumary_img {
    width: 50px;
}
