<div class="grid-container-content-row" (click)="onClickTag()">
 	<div class="grid-container-content-row-col-md-4" style="opacity: 1; transform: translateY(0px);">
 		<div class="img-box-text-over lg box-rounded-lg mb-4">
            <img src="../assets/img/new-songs-week.jpg" alt="">
             <div class="hover-state show">
                <div class="absolute-top-left pl-e-percent-10 pt-e-percent-8">
                    <h6 class="text-light">{{tag?.name}}</h6>
                </div>        
            </div>
        </div>
 	 </div>
</div>
