.grid-container-content-row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}



@media (min-width: 768px)
.grid-container-content-row-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.box-rounded-lg {
    border-radius: 10px !important;
    overflow: hidden;
}
.img-box-text-over {
    position: relative;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

img {
    max-width: 97%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.hover-state.show, .absolute-info.show {
    opacity: 1;
}
@media (min-width: 768px)
.hover-state {
    transition: opacity 0.3s;
}
.hover-state, .absolute-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.text-light {
    color: #f8f9fa!important;
}

h6, .h6 {
    font-size: 1.875062rem;
    padding: 18px;
}