<div class="band-page">
	<h1>Bandas</h1>
    <app-band-list class="band-page_list"
    			  [bands]="bands"
    			  (clickBand)="onClickBand($event)">
    </app-band-list>
    <div  class="band-page-artist" *ngIf="currentArtist.length>0">
        <p>Artista principal de la banda:</p>
        <h1>{{this.currentArtist[0]['first_name']}} {{this.currentArtist[0]['last_name']}}</h1>
    </div>
</div>