.band-page_list {
    display: grid;
    grid-template-columns: repeat(1000, 1fr);
    overflow: scroll;
}

.band-page h1{
    font-weight: bold;
}

.band-page-artist h1{
	font-family: 'Lora';
    font-weight: normal;
}