<div class="artist-page">
    <h1>Artistas</h1>
    <app-artist-list class="artist-page_list"
                    [artists]="artists"
                    (clickArtist)="onClickArtist($event)">
    </app-artist-list>
    <h1>Artista: {{this.currentArtist?.first_name}} {{this.currentArtist?.last_name}}</h1>
    <div *ngFor="let artistband of artistBand">
    	<h1>Album: {{this.artistband?.name}}</h1>
    	<h1>Web: <a href="{{this.artistband?.web}}" target="_blank">{{this.artistband?.web}}</a></h1>
    </div>	
</div>
